
#LOGIN {
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo {
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logform{
    color: whitesmoke;
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(152, 238, 255, 0.801);
}

#MAIN {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    background-image: url("../image/bghome.png");
    background-attachment: fixed;
    background-size: cover;
    overflow: scroll;
}


#FINDDOCTOR {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url("../image/icon.jpg");
    background-attachment: fixed;
    background-size: contain;
    overflow: scroll;
}

#FINDDOCTOR .btnDoc {
    display: flex; 
    text-align: center;
    justify-content: center;
    align-items: flex-end;
}


#DOCTORS {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    /* background-image: url("../image/bghome.png");
    background-attachment: fixed;
    background-size: cover; */
    overflow: scroll;
}

#doctors {
    padding: 5px;
    margin: 5px;
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 10px;
}